<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
<h3>Resetirana Vam je lozinka</h3>
<p>
  Korisnicki email: <%= @user.email %>
</p>
      </div>
    </div>

