<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
<h3>Resetiranje lozinke</h3>
<p>
  Na Vašu e-mail adresu poslan je link za potvrdu resetiranja lozinke.
</p>
      </div>
    </div>

