<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Marketing Hub</h1>
    <p>Eto tako to na tu temu.</p>
    
    <p id="notice"><%= notice %></p>
  </div>
 </div>


