<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Povratak lozinke</title>
</head>
<body>
<h2>Povratak lozinke</h2>
<p>
  Postovani,<br/>
  poslali ste zahtjev za reset lozinke na portalu ETF.ba. Ukoliko vi niste poslali zahtjev ignorišite ovu poruku.<br/>
  <br/>
  Da potvrdite povratak lozinke pratite <%= link_to "ovaj link", "#{reset_url(reset_hash: @password_recovery_token.recovery_hash)}" %>.
  <br/>
  Nakon što posjetite link nova lozinka će biti poslana na vaš e-mail.
</p>
</body>
</html>