<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Povratak izgubljene lozinke</title>
</head>
<body>
<h2>Povratak izgubljene lozinke</h2>
<p>
  Postovani,<br/>
  po Vašem zahtjevu šaljemo nove pristupne podatke za portal ETF.ba:.<br/>
  Koriničko ime:<b><%= @user.username %></b><br/>
  Lozinka: <b><%= @password %></b><br/>
  Savjetujemo da što prije promijenite lozinku.
</p>
</body>
</html>